.about {
  grid-column: center-start/center-end;
  grid-row: 3/4;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
  grid-gap: 3rem;

  &__name {
    grid-column: 1/-1;
  }
  &__text {
    font-size: 1.4rem;
  }
}
